
  body {
background-color: #DADBBD;
margin: 80px;
}
h1 {
  color: #6EBF8B;
}
h2 {
  color: #6EBF8B;
}
h3 {
  color: #6EBF8B;
}
h4 {
  color: #6EBF8B;
}
  hr {
    background-color: white;
    border-style: none none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 40%;
  }
